<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duke.mapper.DemoMapper">
    <select id="selectOne" resultType="com.duke.domain.Demo">
        SELECT
            id   AS id,
            name AS name
        FROM demo;
    </select>
</mapper>